.button-group {
  margin-top: 12px;
  margin-bottom: 20px;
  display: flex;

  &_arrangement_horizontal {
    flex-direction: row;

    .button:first-child {
      margin-right: 8px;
    }
  }

  &_arrangement_vertical {
    flex-direction: column;

    .button:first-child {
      margin-bottom: 8px;
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .button-group {
    flex-direction: column;
  }
}