@import './resets';
@import './variables';
@import './icons';
@import './font';

@import './blocks/base.blocks/button/button';
@import './blocks/base.blocks/button-group/button-group';
@import './blocks/base.blocks/text/text';
@import './blocks/base.blocks/input-form/input-form';
@import './blocks/base.blocks/form-group/form-group';
@import './blocks/base.blocks/icon/icon';
@import './blocks/base.blocks/margin/margin';

@import './blocks/content.blocks/header/header';
@import './blocks/content.blocks/config-info/config-info';
@import './blocks/content.blocks/footer/footer';
@import './blocks/content.blocks/commit-history/commit-history';
@import './blocks/content.blocks/commit/commit';
@import './blocks/content.blocks/webpack-log/webpack-log';



.container {
  max-width: $content-max-width;
  margin: auto;

  &_distribute_between {
    display: flex;
    justify-content: space-between;
  }
}

.page-content {
  flex: 1;
  padding: 0 $content-mobile-indent;

  &_vertical-align_center {
    display: flex;
    align-items: center;
  }
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



