.commit {
  display: flex;
  margin-top: 8px;
  padding: 12px 24px;
  box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  border-radius: 6px;

  &__wrapper {
    display: flex;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  }

  &__status {
    width: 21px;
    height: 21px;
    min-width: 21px;

    &_done {
      background-image: $done-icon;
    }
    &_fail {
      background-image: $fail-icon;
    }
    &_in-progress {
      background-image: $clock-icon;
    }
  }

  &__content {
    padding-left: 9px;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;

    &_time-at-bottom {
      flex-direction: column;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    // min-width: 0;
  }

  &__main-info {
    display: flex;
  }

  &__id {
    margin-right: 4px;
    margin-bottom: 8px;
  }

  &__message {
    margin-bottom: 8px;

    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  &__meta-info {
    display: flex;
  }

  &__branch {
    display: flex;
    align-items: center;
    &-logo {
      width: 16px;
      height: 8px;
      background-image: $commit-icon;
      margin-right: 4px;
    }
  }

  &__branch-name {
    margin-right: 4px;
  }

  &__hash {
    margin-right: 10px;
  }

  &__author {
    display: flex;
    align-items: center;
    .text {
      white-space: nowrap;
    }
    &-icon {
      width: 12.25px;
      height: 14px;
      background-image: $user-icon;
      margin-right: 5.75px;
    }
  }

  &__time-info {
    display: flex;
    flex-direction: column;

    &_inline {
      flex-direction: row;
      margin-top: 8px;
      padding-top: 10px;
      border-top: 1px solid $grey-50;

      .commit__time {
        margin-right: 9px;
        margin-bottom: 0;
      }
    }
  }

  &__time {
    display: flex;
    white-space: nowrap;
    margin-bottom: 12px;
  }

  &__calendar-logo {
    width: 13.95px;
    height: 16px;
    background-image: $calendar-icon;
    margin-right: 5.05px;
  }

  &__duration {
    display: flex;
    white-space: nowrap;
  }

  &__stopwatch-logo {
    width: 12.97px;
    height: 16px;
    background-image: $stopwatch-icon;
    margin-right: 5.53px;
  }

}

@media only screen and (max-width: 500px) {
  .commit {
    padding: 12px 16px;

    &:nth-child(n+6) {
      display: none;
    }

    &__status {
      width: 15px;
      height: 15px;
      min-width: 15px;
    }

    &__content {
      flex-direction: column;
    }

    &__main-info {
      flex-direction: column;
    }

    &__id {
      font-size: 16px;
      line-height: map-get($line-heights, xs);
    }

    // &__message {
    //   white-space: normal;
    // }

    &__meta-info {
      // flex-wrap: wrap;
      flex-direction: column;
    }

    &__author {
      // width: 380px;
      // overflow: hidden;
      margin-top: 8px;
    }

    &__time-info {
      margin-top: 8px;
      padding-top: 10px;
      flex-direction: row;
      border-top: 1px solid $grey-50;
    }

    &__time {
      margin-right: 9px;
      margin-bottom: 0;
    }
  }
}