.footer {
  width: 100%;
  padding: 0 $content-mobile-indent;
  background-color: $bg-footer;
  flex-shrink: 0;

  &__content {
    padding: 7px 0;
    display: flex;
    align-items: center;
  }

  &__link {
    margin-right: 12px;
    font-size: map-get($font-sizes, s);
    line-height: map-get($line-heights, xs);
    color: $text-color-muted;
    letter-spacing: 0.06px;

    &:hover {
      color: $text-color-danger;
    }
  }

  &__text {
    font-size: map-get($font-sizes, s);
    line-height: map-get($line-heights, s);
    color: $text-color-muted;
    letter-spacing: 0.06px;
  }
}


@media only screen and (max-width: $breakpoint) {
  .footer {
    &__content {
      padding: 12px 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__text {
      margin-top: 8px;
    }
  }
}