.config-info {
  margin: 0 auto;
  width: 100%;
  height: 248px;
  display: flex;
  flex-direction: column;
  padding-top: 204px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      margin-top: 32px;
      width: 210px;
    }
  }

  &__action {
    display: flex;

    &_align_center {
      justify-content: center;
    }

    .button {
      margin-top: 24px;
    }
  }

  &__button {
    padding: 9px 20px;
  }
}


@media only screen and (max-width: $breakpoint) {
  .config-info {
    padding-top: 94px;
  }
}